@model List<GigHub.Models.Following>

@{
    ViewBag.Title = "Artist I'm Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artist I'm Following</h2>

<ul class="artist-following">
    @foreach (var following in Model)
    {
        <li>
            <div class="artist-following__name">
                @following.Follower.Name

            </div>
            <div class="artist-following__link">
                <a class="btn btn-link" href="#">unfollow</a>
            </div>

        </li>
    }
</ul>